---
# Jenkins available packages:
# Debian: http://pkg.jenkins-ci.org/debian/
# CentOS: http://pkg.jenkins-ci.org/redhat/
- hosts: jenkins
  vars:
    jenkins_package_state: present
    jenkins_hostname: jenkins.example.com
    jenkins_http_port: 8080
    jenkins_admin_username: admin
    jenkins_admin_password: admin
    jenkins_version: "2.116"
    jenkins_java_options: "-Djenkins.install.runSetupWizard=false"
  roles:
    - { role: geerlingguy.java, become: yes }
    - { role: geerlingguy.jenkins, become: yes }
      #become: true
